[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  # Note: Actual secrets should be set in Netlify UI
  NEXT_USE_NETLIFY_EDGE = "true"

[[plugins]]
  package = "@netlify/plugin-nextjs"
